.contents
  .contents__side-bar
    = render "shared/side-bar"

    .contents__side-bar__groups
      = render "shared/groups"

  .contents__chat
    = render "shared/chat-main"

    .contents__chat__message
      = render "shared/messages"

    .contents__footer
      = render "shared/footer"
